body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4a3f4a;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #2a3a39;
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-link:hover {
  background-color: #a3df5b;
  text-decoration: none;
}


.btn-link:active {
  transform: scale(0.96);
}